################################################################################
# .env File Template
#
# This file is a template with several environment variables that could
# contain sensitive data, such as passwords, API secrets, etc.
#
# This file SHOULD NOT be edited directly (this is just a template!), as it is
# meant to be checked-in in version control. The file that should be edited is
# located at '/.env'.
################################################################################

# General settings
RACK_ENV=development
RAILS_ENV=development
APP_ENV=development
SECRET_KEY_BASE=0913d7fa7c73be17ca78335fb42c52ec68c06d8380c65c4b0705bd77b721c1e0a00aa242b75100ceac9067898a872da04e37cc25dc693317beefe13e8943301d

# Configuration
DEFAULT_CURRENCY=USD
DEFAULT_EMAIL_SYSTEM=system@auctionfun.app

# Backing services
DATABASE_URL=postgresql://postgres:@database/auction_fun_core_development?pool=10
REDIS_URL=redis://redis:6379/0
SMTP_ADDRESS=localhost
SMTP_PORT=1025
