################################################################################
# .env File Template
#
# This file is a template with several environment variables that could
# contain sensitive data, such as passwords, API secrets, etc.
#
# This file SHOULD NOT be edited directly (this is just a template!), as it is
# meant to be checked-in in version control. The file that should be edited is
# located at '/.env'.
################################################################################

# General settings
RACK_ENV=development
RAILS_ENV=development
APP_ENV=development