################################################################################
# .env File Template
#
# This file is a template with several environment variables that could
# contain sensitive data, such as passwords, API secrets, etc.
#
# This file SHOULD NOT be edited directly (this is just a template!), as it is
# meant to be checked-in in version control. The file that should be edited is
# located at '/.env'.
################################################################################

# General settings
RACK_ENV=test
RAILS_ENV=test
APP_ENV=test

# Configuration
DEFAULT_CURRENCY=USD
DEFAULT_EMAIL_SYSTEM=system@auctionfun.app

# Backing services
DATABASE_URL=postgresql://postgres:@127.0.0.1:5432/auction_fun_core_test?pool=10
REDIS_URL=redis://localhost:6379/15
SMTP_ADDRESS=localhost
SMTP_PORT=1025