################################################################################
# .env File Template
#
# This file is a template with several environment variables that could
# contain sensitive data, such as passwords, API secrets, etc.
#
# This file SHOULD NOT be edited directly (this is just a template!), as it is
# meant to be checked-in in version control. The file that should be edited is
# located at '/.env'.
################################################################################

# General settings
RACK_ENV=development
RAILS_ENV=development
APP_ENV=development
SECRET_KEY_BASE=3bbdd25f3d852e5e0f89fa92cf18571e6872febae75e4057faa01c691f6ad8f4bfb1c3b57fc1f18ae780ccfc68a27124e08ea2a3a65111871e1b4b3b09fda32b

# Configuration
DEFAULT_CURRENCY=USD
DEFAULT_EMAIL_SYSTEM=system@auctionfun.app

# Backing services
DATABASE_URL=postgresql://postgres:@localhost/auction_fun_core_development?pool=10
REDIS_URL=redis://localhost:6379/0
SMTP_ADDRESS=localhost
SMTP_PORT=1025
